<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>ISTQB Trainer – Prüfungsverlauf</title>
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/mock_exam_history.css">
</head>
<body>
    <a href="/" class="back-link">&larr; Zurück zum Dashboard</a>
    <h1>Prüfungsverlauf</h1>
    <div id="history-container">
        <p>Lade Verlauf...</p>
    </div>
    <script src="/static/js/mock_exam_history.js"></script>
</body>
</html>